/*normalize.css*/
/*样式清零*/
*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
/*清除浮动*/
.clear:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}